{% extends "base.html" %}

{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js"></script>
    <script src= "https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
    This is graph {{ graph.name }} ({{ graph.id }})
    <div style="width: 800px;"><canvas id="graph-container"></canvas></div>

    <script>
        const graphChart = new Chart(document.getElementById('graph-container'),
        {
            type: "{{ graph.type }}",
            data: {
              labels: {{ graph.get_labels }},
              datasets: [
                {
                  label: '',
                  data: {{ graph.get_points }},
                }
              ]
            }
          }
        );

        setInterval(function() {
            graphChart.data.labels.push("0")
            graphChart.data.datasets.forEach((dataset => {
                dataset.data.push(300);
            }));
            graphChart.update();
        }, 1000);

    </script>

{% endblock %}