{% extends "base.html" %}

{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
    {% include "graph/graph_js.html" %}
    <div class="container-fluid">
        <div class="graph_{{graph.id}} card bg-dark">
            <div class="card-body">
                <div class="text-white"> This is graph {{ graph.name }} ({{ graph.id }}) </div>
                <div style="width: 800px;"> <canvas id="graph-container"></canvas> </div>
                <script>
                    setup_chart("graph-container", 1000, "{{graph.type}}", {{graph.id}}, {{graph.shift_count}}, "{{graph.primary_color}}");
                </script> 
            </div>
        </div>
    </div>
{% endblock %}