<script>
    function setup_chart(name, rate, graph_type, graph_id, shift_count, primary_color) {
        console.log(shift_count);
        const graphChart = new Chart(document.getElementById(name), {
            type: graph_type,
            data: {
                labels: "",
                datasets: [{ label: '', data: "", backgroundColor: primary_color, borderColor: primary_color, fill: false}]
            }
        });

        var sequence = 0;

        setInterval(function() {
            $.ajax({
                url: "/graphs/api/graphpoints/?graph=" + graph_id + "&sequence=" + sequence,
                type: "GET",
                data: {},
                success: function(data) {
                    if(shift_count != 0) {
                        while(graphChart.data.labels.length+1 > shift_count) {
                            graphChart.data.labels.shift();
                            graphChart.data.datasets.forEach((dataset => {
                                dataset.data.shift();
                            }));
                        }
                    }

                    data.forEach(function(obj) {
                        graphChart.data.labels.push(obj.label)
                        graphChart.data.datasets.forEach((dataset => {
                            dataset.data.push(obj.data);
                        }));
                        sequence = obj.sequence;
                    });
                    graphChart.update();
                    console.log("graph request success");
                },
                error: function(error) {
                    console.log("graph request error");
                }
            });
        }, rate);
    }
</script>