Django==4.1.6
djangorestframework
django-filter
django-bootstrap5
django-rest-authtoken
pytest-django
celery
redis==5.0.1
gunicorn
mysqlclient
transformers
pillow
torch
django-crispy-forms
crispy-bootstrap5

langchain 
openai
jsonschema
torchvision
pillow
opencv-python
kubernetes
boto3
azure.mgmt.compute
