{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1> Tag ({{ tag.key }} -> {{ tag.value }}) </h1>

    <h2> Schedules </h2>
    <div class="row">
        {% for schedule in schedules %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ schedule.name }}</h5>
                    <div class="card-text">
                        <p> {{ schedule.schedule }} </p>
                        <p> {{ schedule.action }} </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}    
    </div>

    <h2> AWS servers </h2>
    <div class="row">
        <table class="table">
            <tr>
                <th> Instance ID </th>
                <th> Type </th>
                <th> State </th>
                <th> Last event </th>
            </tr>
            {% for aws in aws_vms %}
            <tr>
                <td> {{ aws.id }} </td>
                <td> {{ aws.type }} </td>
                <td> {{ aws.state }} </td>
                <td> None </td>
            </tr>
            {% endfor %}    
        </table>
    </div>

    <h2> Azure servers </h2>
    <div class="row">
        {% for azure in azure_vms %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ azure.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}    
    </div>

</div>

{% endblock %}