{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for cluster in object_list %}
                <div class="col">
                    <div class="cluster_{{cluster.id}} card bg-dark">
                        <div class="card-body">
                            <h1>
                                <a href={% url 'cluster_detail' cluster.id %}>{{ cluster.name }}</a>
                            </h1>
                            <h2> {{ cluster.cluster_endpoint }} </h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}