{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <h1> {{ cluster.name }} </h1>

        <h2> Nodes </h2>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    {% for node in nodes %}
                        <div class="col-md-4"> {{ node }} </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <h2> Ingress </h2>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <tr>
                            <th> Pod </th>
                            <th> Namespace </th>
                            <th> Hostname </th>
                            <th> IP </th>
                        </tr>
                        {% for ingress in ingresses %}
                            <tr>
                                <td> {{ ingress.name }} </td>
                                <td> {{ ingress.namespace }} </td>
                                <td> {{ ingress.rules.host }} </td>
                                <td> {{ ingress.ip }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <h2> Pods </h2>
        <div class="accordion" id="podAccordian{{ namesoace }}">
            {% for namespace, pod_list in pods.items %}
                <div class="accordian-item">
                    <div class="accordion-header" id="heading{{ namespace }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ namespace }}" aria-expanded="false" aria-controls="collapse{{ namespace }}">
                            <h3> {{ namespace }} </h3>
                        </button>
                    </div>
                </div>
                <div id="collapse{{ namespace }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ namespace }}" data-bs-parent="#podAccordian{{ namespace }}">
                    <div class="accordion-body">
                        <table class="table">
                            <tr>
                                <th> Pod Name </th>
                                <th> Status </th>
                                <th> Start </th>
                                <th> Node </th>
                                <th> IP </th>
                            </tr>
                            {% for pod in pod_list %}
                                <tr>
                                    <td> {{ pod.name }} </td>
                                    <td> {{ pod.status }} </td>
                                    <td> {{ pod.start_time }} </td>
                                    <td> {{ pod.node }} </td>
                                    <td> {{ pod.ip }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}