{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <h1> {{ cluster.name }} </h1>
        <table class="table">
            <tr>
                <th>Namespace</th>
                <th>Pod</th>
            </tr>
            {% for namespace, pod_list in pods.items %}
                {% for pod in pod_list %}
                    <tr>
                        <td> {{ namespace }} </td>
                        <td> {{ pod }} </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
{% endblock %}