{% extends "base.html" %}

{% block content %}
  <div class="row">
    {% for model in object_list %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{model.name}} ({{model.id}})</h5>

          <p class="card-text"> 
            Driver: {{model.model_name}}<br/>
            Meta: {{model.metadata}}<br/>
            Input Type: {{model.input_type}}<br/>
            Output Type: {{model.output_type}}<br/>
            Background: {{model.background}}<br/>
            <a href="{% url "model_detail" model.id %}"> Detail </a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
