{% extends "base.html" %}

{% load crispy_forms_tags %} 

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{model.name}} ({{model.id}})</h5>

        <p class="card-text"> 
            Driver: {{model.model_name}}<br/>
            Meta: {{model.metadata}}<br/>
            Input Type: {{model.input_type}}<br/>
            Output Type: {{model.output_type}}<br/>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            {% if model.output_type == "text" %}
                <p>Output: <pre>{{model.output | pprint}}</pre></p>
            {% elif model.output_type == "image" %}
                <p>Output: <pre>image not implemented</pre></p>
            {% else %}
                <p>Output: <pre>not implemented</pre></p>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}

