{% extends "base.html" %}

{% block header %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% load crispy_forms_tags %} 

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{model.name}} ({{model.id}})</h5>

        <p class="card-text"> 
            Driver: {{model.model_name}}<br/>
            Meta: {{model.metadata}}<br/>
            Input Type: {{model.input_type}}<br/>
            Output Type: {{model.output_type}}<br/>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            {% if model.output_type == "text" %}
                <p>Output: <pre>{{model.get_output | pprint}}</pre></p>
            {% elif model.output_type == "image" %}
                <p>Output: 
                    <img src="data:image/jpg;base64,{{model.get_output}}"/>
                </p>
            {% elif model.output_type == "image_stream" %}
                <div id="output">
                    <p>Output stream: 
                        <img src="data:image/jpg;base64,{{model.get_output}}"/>
                    </p>
                </div>
                <script>
                    //ajax request to calculus/api/models to get updated Output
                    function updateOutput() {
                        $.ajax({
                            url: "/calculus/api/models/{{model.id}}",
                            type: "GET",
                            dataType: "json",
                            success: function(data) {
                                console.log(data);
                                if (data.output != null) {
                                    $("#output").html("<img src='data:image/jpg;base64," + data.output + "'/>");
                                }
                            },
                            error: function(xhr, status, error) {
                                console.log(error);
                            }
                        });
                    }

                    // run on timer
                    setInterval(updateOutput, 100);
                </script>
            {% else %}
                <p>Output: <pre>not implemented</pre></p>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}

